body {
  display: flex;
  flex-direction: column;
}
.formContainer {
  width: 95vw;
  display: flex;
  flex-direction: column;
}
form {
  flex-direction: column;
  flex-wrap: wrap;
}
h3 {
  text-decoration: underline;
}
label {
  padding: 10px 15px;
}

button {
  margin-right: 10px;
}
